<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Level</key>
	<dict>
		<key>One</key>
		<array>
			<dict>
				<key>Type</key>
				<integer>1</integer>
				<key>Delay</key>
				<integer>3</integer>
				<key>StartXindex</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Type</key>
				<integer>0</integer>
				<key>Delay</key>
				<integer>3</integer>
				<key>StartXindex</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Type</key>
				<integer>0</integer>
				<key>Delay</key>
				<integer>3</integer>
				<key>StartXindex</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Type</key>
				<integer>1</integer>
				<key>Delay</key>
				<integer>3</integer>
				<key>StartXindex</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Type</key>
				<integer>0</integer>
				<key>Delay</key>
				<integer>3</integer>
				<key>StartXindex</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Type</key>
				<integer>0</integer>
				<key>Delay</key>
				<integer>3</integer>
				<key>StartXindex</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>Two</key>
		<array>
			<dict>
				<key>Type</key>
				<integer>1</integer>
				<key>Delay</key>
				<integer>3</integer>
				<key>StartXindex</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Type</key>
				<integer>0</integer>
				<key>Delay</key>
				<integer>3</integer>
				<key>StartXindex</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Type</key>
				<integer>2</integer>
				<key>Delay</key>
				<integer>3</integer>
				<key>StartXindex</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Type</key>
				<integer>1</integer>
				<key>Delay</key>
				<integer>3</integer>
				<key>StartXindex</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Type</key>
				<integer>2</integer>
				<key>Delay</key>
				<integer>3</integer>
				<key>StartXindex</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Type</key>
				<integer>0</integer>
				<key>Delay</key>
				<integer>3</integer>
				<key>StartXindex</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>Three</key>
		<array>
			<dict>
				<key>Type</key>
				<integer>2</integer>
				<key>Delay</key>
				<integer>3</integer>
				<key>StartXindex</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Type</key>
				<integer>2</integer>
				<key>Delay</key>
				<integer>3</integer>
				<key>StartXindex</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Type</key>
				<integer>0</integer>
				<key>Delay</key>
				<integer>3</integer>
				<key>StartXindex</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Type</key>
				<integer>1</integer>
				<key>Delay</key>
				<integer>3</integer>
				<key>StartXindex</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Type</key>
				<integer>2</integer>
				<key>Delay</key>
				<integer>3</integer>
				<key>StartXindex</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Type</key>
				<integer>0</integer>
				<key>Delay</key>
				<integer>3</integer>
				<key>StartXindex</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>Four</key>
		<array>
			<dict>
				<key>Type</key>
				<integer>1</integer>
				<key>Delay</key>
				<integer>2</integer>
				<key>StartXindex</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Type</key>
				<integer>2</integer>
				<key>Delay</key>
				<integer>2</integer>
				<key>StartXindex</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Type</key>
				<integer>0</integer>
				<key>Delay</key>
				<integer>2</integer>
				<key>StartXindex</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Type</key>
				<integer>1</integer>
				<key>Delay</key>
				<integer>2</integer>
				<key>StartXindex</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Type</key>
				<integer>0</integer>
				<key>Delay</key>
				<integer>2</integer>
				<key>StartXindex</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Type</key>
				<integer>2</integer>
				<key>Delay</key>
				<integer>2</integer>
				<key>StartXindex</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
